/* @media only screen and (min-device-width: 1800px) and (max-device-width: 30000px) {
  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    font-size: 1.4vw;
  }
  .big-pink-in-white-star {
    z-index: 0;
    position: absolute;
    top: -1.3vw;
    left: 44.32vw;
  }
  .big-pink-in-white-star > svg {
    width: 52vw;
    height: 29vw;
  }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) {
  .name-shelkopryad,
  .name-technopryad {
    font-size: 6.5vw;
  }
  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    font-size: 3.5vw;
  }
  .big-pink-in-white-star {
    z-index: 0;
    position: absolute;
    top: -1.88vw;
    left: 46.32vw;
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 700px) {
  .name-shelkopryad,
  .name-technopryad {
    font-size: 5.8vw;
  }
  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    font-size: 5.5vw;
  }
  .text-1,
  .text-3 {
    margin-bottom: 70px;
  }
  .big-pink-in-white-star {
    z-index: 0;
    position: absolute;
    top: -15.88vw;
    left: 41.32vw;
  }
}
@media only screen and (min-device-width: 1px) and (max-device-width: 500px) {
  .name-shelkopryad,
  .name-technopryad {
    font-size: 5.8vw;
  }
  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    font-size: 7.5vw;
  }
  .text-1,
  .text-3 {
    margin-bottom: 32px;
  }
  .name-shelkopryad,
  .name-technopryad {
    margin-top: 37px;
  }
  .big-pink-in-white-star {
    z-index: 0;
    position: absolute;
    top: -19.88vw;
    left: 17.32vw;
  }
} */
@media only screen and (min-device-width: 0px) and (max-device-width: 350px) {
  * {
    width: 0;
    height: 0;
  }
}
/* планшет */
@media only screen and (min-device-width: 550px) and (max-device-width: 900px) {
  .ms-blue-half {
    height: 66.667vw;
  }
  .ms-white-half {
    height: 66.667vw;
  }
  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    font-size: 4.083vw;
  }
  .big-pink-in-white-star {
    top: -33.88vw;
    left: 37.32vw;
  }
  .big-pink-in-white-star-1 {
    top: -34vw;
    left: -45vw;
  }
  .click-1 {
    top: 4vw;
    left: 42vw;
    font-size: 2.302vw;
  }
  .text-1,
  .text-3 {
    margin-bottom: 6.25vw;
  }
  .big-pink-in-white-star-1 > svg {
    width: 98.568vw;
    height: 62.891vw;
  }
  .big-pink-in-white-star > svg {
    width: 98.568vw;
    height: 62.891vw;
  }
}
/* мобилка */
@media only screen and (min-device-width: 350px) and (max-device-width: 550px) {
  .ms-blue-half {
    height: 108.213vw;
    padding: 25px;
  }
  .ms-white-half {
    height: 108.213vw;
    padding: 25px;
  }

  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    font-size: 7.575vw;
  }
  .text-1,
  .text-3 {
    margin-bottom: 6.763vw;
  }
  .big-pink-in-white-star {
    top: -62.88vw;
    left: 23.32vw;
  }
  .big-pink-in-white-star > svg {
    width: 182.85vw;
    height: 115.942vw;
  }

  .left-line,
  .right-line,
  .right-line-bottom,
  .left-line-bottom,
  .right-line-1,
  .left-line-1,
  .right-line-bottom-1,
  .left-line-bottom-1 {
    height: 19.807vw;
  }

  .name-shelkopryad,
  .name-technopryad {
    margin-top: 12.56vw;
  }
  .big-pink-in-white-star-1 > svg {
    width: 182.85vw;
    height: 115.942vw;
  }
  .big-pink-in-white-star-1 {
    top: -62.88vw;
    left: -116.68vw;
  }
  .click-1 {
    left: 38vw;
    top: 7vw;
    font-size: 4vw;
  }
}
