@media only screen and (min-width: 0px) and (max-width: 350px) {
  * {
    width: 0;
    height: 0;
  }
}
/* планшет */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .ms-blue-half {
    height: 66.667vw;
  }
  .ms-white-half {
    height: 66.667vw;
  }
  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    font-size: 4.083vw;
  }
  .big-pink-in-white-star {
    top: -33.88vw;
    left: 37.32vw;
  }
  .big-pink-in-white-star-1 {
    top: -34vw;
    left: -45vw;
    opacity: 100%;
  }
  .click-1 {
    top: 4vw;
    left: 42vw;
    font-size: 2.302vw;
  }
  .text-1,
  .text-3 {
    margin-bottom: 6.25vw;
  }
  .big-pink-in-white-star-1 > svg {
    width: 98.568vw;
    height: 62.891vw;
  }
  .big-pink-in-white-star > svg {
    width: 98.568vw;
    height: 62.891vw;
  }
  .white-view,
  .blue-view {
    height: 66.667vw;
  }
  .blue-view {
    top: 66.667vw;
  }
  .open-white-menu,
  .open-blue-menu {
    height: 66.667vw;
  }
  .open-blue-menu {
    top: 66.667vw;
  }
  .white-menu,
  .blue-menu {
    width: 25.781vw;
  }
  .b-text-menu > a {
    font-size: 5.222vw;
  }
  .w-text-menu > a {
    font-size: 5.222vw;
  }
  #down-close-menu > svg {
    width: 3.2vw;
    height: 3.2vw;
  }
  #up-close-menu > svg {
    width: 3.2vw;
    height: 3.2vw;
  }
  .triangle-up-2,
  .triangle-down-2,
  .triangle-up-2 > img,
  .triangle-down-2 > img {
    height: 1.556vw;
    width: 1.556vw;
  }
  .triangle-up-1,
  .triangle-down-1,
  .triangle-up-1 > img,
  .triangle-down-1 > img {
    height: 1.556vw;
    width: 1.556vw;
  }
}
/* мобилка */
@media only screen and (min-width: 350px) and (max-width: 1000px) {
  .ms-blue-half {
    height: 108.213vw;
    padding: 25px;
  }
  .ms-white-half {
    height: 108.213vw;
    padding: 25px;
  }

  .text-1,
  .text-2,
  .text-3,
  .text-4 {
    font-size: 6.575vw;
  }
  .text-1,
  .text-3 {
    margin-bottom: 6.763vw;
  }
  .big-pink-in-white-star {
    top: -62.88vw;
    left: 23.32vw;
  }
  .big-pink-in-white-star > svg {
    width: 182.85vw;
    height: 115.942vw;
  }

  .left-line,
  .right-line,
  .right-line-bottom,
  .left-line-bottom,
  .right-line-1,
  .left-line-1,
  .right-line-bottom-1,
  .left-line-bottom-1 {
    height: 19.807vw;
  }

  .name-shelkopryad,
  .name-technopryad {
    margin-top: 12.56vw;
  }
  .big-pink-in-white-star-1 > svg {
    width: 182.85vw;
    height: 115.942vw;
  }
  .big-pink-in-white-star-1 {
    top: -62.88vw;
    left: -116.68vw;
  }
  .click-1 {
    left: 38vw;
    top: 7vw;
    font-size: 4vw;
  }
  .white-view,
  .blue-view {
    height: 108.213vw;
  }
  .open-white-menu,
  .open-blue-menu {
    height: 108.213vw;
  }
  .open-blue-menu {
    top: 108.213vw;
  }
  .blue-view {
    top: 108.213vw;
  }
  .white-menu,
  .blue-menu {
    width: 41.848vw;
  }
  .white-view-text,
  .blue-view-text {
    font-size: 26.562vw;
  }
  .b-text-menu > a {
    font-size: 6.222vw;
  }
  .w-text-menu > a {
    font-size: 6.222vw;
  }
  #down-close-menu > svg {
    width: 5.2vw;
    height: 5.2vw;
  }
  #up-close-menu > svg {
    width: 5.2vw;
    height: 5.2vw;
  }
  .triangle-up-2,
  .triangle-down-2,
  .triangle-up-2 > img,
  .triangle-down-2 > img {
    height: 2.556vw;
    width: 2.556vw;
  }
  .triangle-up-1,
  .triangle-down-1,
  .triangle-up-1 > img,
  .triangle-down-1 > img {
    height: 2.556vw;
    width: 2.556vw;
  }
}

/* 2к экран */
@media only screen and (min-width: 1920px) and (max-width: 9999px) {
  .ms-blue-half {
    height: 28vw;
  }
  .ms-white-half {
    height: 28vw;
  }
  .white-view,
  .blue-view {
    height: 28vw;
  }
  .open-white-menu,
  .open-blue-menu {
    height: 28vw;
  }
  .open-blue-menu {
    top: 28vw;
  }
  .blue-view {
    top: 28vw;
  }
}
