/* планшет */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  #poster-content-box {
    background-image: url(../images/two-posters-ipad.png);
    height: 293vw;
    flex-direction: column;
  }
  .poster-first-series,
  .poster-second-series {
    height: 50%;
    width: 100%;
    font-size: 28vw;
  }
  .poster-first-series {
    background-color: hsla(256, 100%, 50%, 0.8);
    animation: 3s ease-in-out 0s infinite lightss;
  }
  .poster-second-series {
    background-color: hsla(256, 100%, 50%, 0.8);
    animation: 3s ease-in-out 1s infinite lightss;
  }
}
/* мобилка */
@media only screen and (min-width: 350px) and (max-width: 1000px) {
  #poster-content-box {
    background-image: url(../images/two-posters-ipad.png);
    height: 293vw;
    flex-direction: column;
  }
  .poster-first-series,
  .poster-second-series {
    height: 50%;
    width: 100%;
    font-size: 28vw;
  }

  .poster-first-series {
    background-color: hsla(256, 100%, 50%, 0.8);
    animation: 3s ease-in-out 0s infinite lightss;
  }
  .poster-second-series {
    background-color: hsla(256, 100%, 50%, 0.8);
    animation: 3s ease-in-out 1s infinite lightss;
  }
  .poster-first-series:hover {
    opacity: 100%;
    background-color: hsla(256, 100%, 50%, 0.8);
    animation: 0.5s ease-in-out 0s 1 alternate op2;
  }
  .poster-second-series:hover {
    opacity: 100%;
    background-color: hsla(256, 100%, 50%, 0.8);
    animation: 0.5s ease-in-out 0s 1 alternate op2;
  }
}

/* 2к экран */
@media only screen and (min-width: 1920px) and (max-width: 9999px) {
  #poster-content-box {
    background-image: url(../images/two-posters22.png);
  }
}
