.star-color-line:hover {
  fill: #4200ff;
}
.star-color-line-1:hover {
  fill: white;
}
@keyframes star-left-line {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}

.star-left-line:hover {
  animation-play-state: paused;
}
@keyframes star-up-long-line {
  0% {
    left: -19px;
  }
  100% {
    left: 98%;
  }
}
.star-up-long-line:hover {
  animation-play-state: paused;
}

.star-left-line-1:hover {
  animation-play-state: paused;
}

.star-up-long-line-1:hover {
  animation-play-state: paused;
}
.star-blue-right-line:hover {
  animation-play-state: paused;
}
.star-up-long-line-2:hover {
  animation-play-state: paused;
}
.big-pink-star-s:hover {
  fill: #4200ff;
}
.big-pink-star-t:hover {
  fill: white;
}
@keyframes star-left-right-line {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes star-up-long-line-1 {
  0% {
    left: -19px;
  }
  100% {
    left: 98%;
  }
}

@keyframes click {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
