.main-screen {
  overflow: hidden;
  position: relative;
}

/* вся белая секция */
.ms-white-half {
  background-color: white;
  height: 35.556vw;
  width: 100vw;
  padding: 25px 40px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

/* бокс внутри паддингов */
.box-in-white-half {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* верхний белый блок с линией и звездами */
.up-line-with-star {
  width: 100%;
  height: 16%;
  display: flex;
  position: relative;
}
/* левая линия со звездой */
.left-line {
  width: 2px;
  height: 82px;
  background-color: blue;
}
/* звезда на верхней левой линии */
.star-left-line {
  position: absolute;
  left: -20px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 0.7s infinite alternate star-left-line;
}

/* <div class="up-long-line">
              <div class="star-up-long-line"> */
.up-long-line {
  width: 100%;
  height: 2px;
  background-color: blue;
  /* position: relative; */
}
/* звезда на верхней длинной линии */
.star-up-long-line {
  position: absolute;
  top: -20px;
  left: -19px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 5s infinite alternate star-up-long-line;
}
/* правая линия */
.right-line {
  width: 2px;
  height: 82px;
  background-color: blue;
  position: relative;
}

.bottom-line-with-star {
  width: 100%;
  height: 16%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.left-line-bottom {
  width: 2px;
  height: 82px;
  background-color: blue;
}

.up-long-line-bottom {
  width: 100%;
  height: 2px;
  background-color: blue;
}
.right-line-bottom {
  width: 2px;
  height: 82px;
  background-color: blue;
}
/* СЕКЦИЯ СО ВСЕМ СОДЕРЖИМЫМ В БЕЛОМ  */
.all-information-box-white {
  height: 68%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* СИНЯЯ ПОЛОВИНА */
.ms-blue-half {
  background-color: blue;
  height: 35.556vw;
  width: 100vw;
  padding: 25px 40px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.blue-view {
  height: 35.556vw;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35.556vw;
  left: 0;
  display: none;
  z-index: 10;
  cursor: pointer;
  animation: 0.5s ease-in-out 0s 1 alternate op;
}
.white-view {
  height: 35.556vw;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
  cursor: pointer;
  animation: 0.5s ease-in-out 0s 1 alternate op;
}
@keyframes op {
  0% {
    filter: blur(50px) opacity(0);
    -webkit-filter: blur(50px) opacity(0);
  }
  100% {
    filter: blur(0px) opacity(1);
    -webkit-blur: (0px) opacity(1);
  }
}
#up-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#up-close-menu > svg {
  width: 1.2vw;
  height: 1.2vw;
}
#down-close-menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
#down-close-menu > svg {
  width: 1.2vw;
  height: 1.2vw;
}

.w-poster-box,
.w-place-box,
.w-shop-box,
.w-sign-up-box,
.w-arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}

.b-generator-box,
.b-sign-up-box,
.b-process-box {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  border-bottom: 2px solid white;
}
.b-sign-up-box {
  border-bottom: 0px;
}
.b-arrow-box {
  width: 100%;
  height: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  border-bottom: 2px solid white;
}

.b-arrow-box:hover,
.b-generator-box:hover,
.b-process-box:hover,
.b-sign-up-box:hover {
  background-color: #eb8ef3;
}

.w-poster-box:hover {
  background-color: #eb8ef3;
}
.w-place-box:hover {
  background-color: #eb8ef3;
}
.w-shop-box:hover {
  background-color: #eb8ef3;
}
.w-sign-up-box:hover {
  background-color: #eb8ef3;
}
.w-arrow-box:hover {
  background-color: #eb8ef3;
}
.w-star:hover {
  fill: blue;
}
.b-star:hover {
  fill: white;
}

.w-text-menu {
  list-style-type: none;
}
.w-text-menu > a {
  text-decoration: none;
  color: blue;
  font-family: "Cute Font";
  font-size: 2.222vw;
  text-transform: uppercase;
}
.b-text-menu > a {
  text-decoration: none;
  color: white;
  font-family: "Cute Font";
  font-size: 2.222vw;
  text-transform: uppercase;
}
.b-text-menu {
  list-style-type: none;
}
.w-sign-up-box {
  width: 100%;
  height: 12%;
  border-bottom: 2px solid blue;
}
.w-arrow-box {
  height: 51%;
  width: 100%;
  border-bottom: 2px solid blue;
  display: flex;
  flex-direction: column;
}
.triangle-up-1,
.triangle-down-1,
.triangle-up-1 > img,
.triangle-down-1 > img {
  height: 0.556vw;
  width: 0.556vw;
  display: flex;
}
.triangle-up-2,
.triangle-down-2,
.triangle-up-2 > img,
.triangle-down-2 > img {
  height: 0.556vw;
  width: 0.556vw;
  display: flex;
}

.line-2 {
  height: 65%;
  width: 2px;
  background-color: white;
  animation: 1s linear 0s normal none infinite running line-2;
}
@keyframes line-2 {
  0% {
    height: 80%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 80%;
  }
}

.line-1 {
  height: 65%;
  width: 2px;
  background-color: #4200ff;
  animation: 1s linear 0s normal none infinite running line-1;
}
@keyframes line-1 {
  0% {
    height: 75%;
  }
  50% {
    height: 45%;
  }
  100% {
    height: 75%;
  }
}

.w-poster-box,
.w-place-box,
.w-shop-box {
  width: 100%;
  height: 12.07%;
  border-bottom: 2px solid blue;
}
.w-shop-box {
  border: 0px;
}
.open-white-menu {
  background-color: hsla(0, 0%, 100%, 0.8);
  border: 0;
  height: 35.556vw;
  width: 100vw;
}
.white-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 13.75vw;
  height: 100%;
  background-color: white;
  border-right: solid 2px;
  border-color: blue;
  z-index: 11;
  animation: 0.5s ease-in-out 0s 1 alternate op;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.blue-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 13.75vw;
  height: 100%;
  background-color: blue;
  border-right: solid 2px;
  border-color: white;
  z-index: 11;
  animation: 0.5s ease-in-out 0s 1 alternate op;
}
.open-blue-menu {
  background-color: hsla(256, 100%, 50%, 0.8);
  height: 35.556vw;
  width: 100vw;
  border: 0;
}
.blue-view-text {
  font-family: "Cute Font";
  color: white;
  font-size: 11.562vw;
}
.blue-view-text {
  font-family: "Cute Font";
  color: white;
  font-size: 11.562vw;
}

.white-view-text {
  font-family: "Cute Font";
  color: #4200ff;
  font-size: 11.562vw;
}

/* бокс внутри паддингов */
.box-in-blue-half-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* верхний синий блок с линией и звездами */
.up-line-with-star-1 {
  width: 100%;
  height: 16%;
  display: flex;
  position: relative;
}
/* левая линия со звездой */
.left-line-1 {
  width: 2px;
  height: 82px;
  background-color: white;
}
/* звезда на верхней левой линии */
.star-left-line-1 {
  position: absolute;
  left: -20px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 0.7s infinite alternate star-left-line;
}

.up-long-line-1 {
  width: 100%;
  height: 2px;
  background-color: white;
  /* position: relative; */
}
/* звезда на верхней длинной линии */
.star-up-long-line-1 {
  position: absolute;
  top: -20px;
  left: -19px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 5s infinite alternate star-up-long-line-1;
}
/* правая линия */
.right-line-1 {
  width: 2px;
  height: 82px;
  background-color: white;
  position: relative;
}
/* нижний синий блок с линиями */
.bottom-line-with-star-1 {
  width: 100%;
  height: 16%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
/* нижняя левая линия со звездой */
.left-line-bottom-1 {
  width: 2px;
  height: 82px;
  background-color: white;
}
/* нижняя верхняя длинная линия со звездой */
.up-long-line-bottom-1 {
  width: 100%;
  height: 2px;
  background-color: white;
}
/* нижняя правая линия */
.right-line-bottom-1 {
  width: 2px;
  height: 82px;
  background-color: white;
}

/* СЕКЦИЯ СО ВСЕМ СОДЕРЖИМЫМ В БЕЛОМ  */
.all-information-box-blue {
  height: 68%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name-shelkopryad,
.name-technopryad {
  margin-top: 1.389vw;
  font-family: "Yagiza";
  color: blue;
  text-align: center;
  font-size: 6.5vw;
  z-index: 1;
}
.name-technopryad {
  color: white;
}
.text-1,
.text-2 {
  font-family: "Bank Gothic(RUS BY LYAJKA)";
  text-align: center;
  color: blue;
  font-size: 2.15vw;
}

.text-3,
.text-4 {
  font-family: "Bank Gothic(RUS BY LYAJKA)";
  text-align: center;
  color: white;
  font-size: 2vw;
}
.text-1,
.text-3 {
  margin-bottom: 2.944vw;
  position: relative;
}
.big-pink-in-white-star {
  z-index: 0;
  position: absolute;
  top: -19vw;
  left: 47vw;
}
.big-pink-in-white-star > svg {
  width: 52.569vw;
  height: 33.333vw;
}
.big-pink-in-white-star-1 > svg {
  width: 52.569vw;
  height: 33.333vw;
}
.big-pink-in-white-star-1 {
  z-index: 0;
  position: absolute;
  transform: scaleX(-1);
  top: -19vw;
  left: -3.8vw;
}
.click-1 {
  display: none;
  left: 46.4vw;
  top: 2.9vw;
  font-size: 1.4vw;
  color: #eb8ef3;
  font-family: "Bank Gothic(RUS BY LYAJKA)";
  position: absolute;
  animation: linear 0.3s infinite alternate click;
}

.ms-white-half:hover .click-1 {
  display: block;
}
.ms-blue-half:hover .click-1 {
  display: block;
}

.text-shelkopryad,
.text-technopryad {
  position: relative;
}

/* звезда в синей нижней правой линии  */
.star-blue-right-line {
  position: absolute;
  right: -20px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 0.7s infinite alternate star-left-line;
}
/* звезда в синей нижней длинной линии  */
.star-up-long-line-2 {
  position: absolute;
  bottom: -20px;
  left: -19px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 5s infinite alternate star-up-long-line-1;
}
.white-letter:hover {
  color: #eb8ef3;
}
.blue-letter:hover {
  color: #eb8ef3;
}

.star-left-line-1,
.star-up-long-line-1,
.star-left-line,
.star-up-long-line-2,
.star-blue-right-line,
.star-up-long-line {
  z-index: 10;
}
body {
  background-color: blue;
}
