.b-pattern-screen {
  position: relative;
  padding: 25px;
  background-color: #4200ff;
  animation: 0.5s ease-in-out 0s 1 alternate op;
}
.b-top-menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-bottom-menu-bar {
  display: flex;
  justify-content: space-between;
}
.b-menu-text,
.b-shelkopryad-text,
.b-contact-text,
.b-made-by-text,
.b-about-us-text {
  font-family: "Cute Font";
  color: white;
}

.b-menu-text,
.b-shelkopryad-text {
  font-size: 3vw;
}
.b-contact-text,
.b-made-by-text,
.b-about-us-text {
  font-size: 2.6vw;
}
.b-menu-text {
  cursor: pointer;
  position: relative;
}
.b-menu-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #eb8ef3;
  transition: width 0.3s ease;
}

.b-menu-text:hover::after {
  width: 100%;
}
.b-contact-text {
  position: relative;
  cursor: pointer;
}
.b-contact-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #eb8ef3;
  transition: width 0.3s ease;
}

.b-contact-text:hover::after {
  width: 100%;
}
.b-about-us-text {
  cursor: pointer;
  position: relative;
}
.b-about-us-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #eb8ef3;
  transition: width 0.3s ease;
}

.b-about-us-text:hover::after {
  width: 100%;
}
.b-go-to-main-page {
  height: 2.4vw;
  width: 4.4vw;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.b-go-to-main-page:hover {
  background-color: #eb8ef3;
}

.b-all-content-box {
  width: 100%;
  height: 55vw;
  border: 2px solid white;
  margin: 40px 0px;
  position: relative;
}

.b-p-up-arrow-box {
  display: flex;
  width: 67vw;
  align-items: center;
  justify-content: center;
}
.b-p-down-arrow-left-box,
.b-p-down-arrow-right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23vw;
}

.b-line-3 {
  background-color: white;
  height: 2px;
  width: 95%;
  animation: 1s linear 0s normal none infinite running line-3;
}
@keyframes line-3 {
  0% {
    width: 95%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 95%;
  }
}

.b-triangle-right-3,
.b-triangle-left-3,
.b-triangle-right-3 > img,
.b-triangle-left-3 > img {
  height: 0.556vw;
  width: 0.556vw;
  display: flex;
}
.b-line-4 {
  background-color: white;
  height: 2px;
  width: 95%;
  animation: 1s linear 0s normal none infinite running line-4;
}
@keyframes line-4 {
  0% {
    width: 95%;
  }
  50% {
    width: 65%;
  }
  100% {
    width: 95%;
  }
}

.b-triangle-right-4,
.b-triangle-left-4,
.b-triangle-right-4 > img,
.b-triangle-left-4 > img {
  height: 0.556vw;
  width: 0.556vw;
  display: flex;
}

.b-triangle-right-5,
.b-triangle-left-5,
.b-triangle-right-5 > img,
.b-triangle-left-5 > img {
  height: 0.556vw;
  width: 0.556vw;
  display: flex;
}

.b-first-star,
.b-second-star,
.b-third-star,
.b-fourth-star {
  position: absolute;
  width: 42px;
  height: 42px;
}
.b-first-star,
.b-second-star {
  top: -22px;
}
.b-third-star,
.b-fourth-star {
  bottom: -22px;
}

.b-first-star {
  left: 63%;
  animation: linear 2s infinite alternate first-star;
}
.b-second-star {
  left: 59%;
  animation: linear 2s infinite alternate second-star;
}
.b-third-star {
  right: 63%;
  animation: linear 2s infinite alternate third-star;
}
.b-fourth-star {
  right: 59%;
  animation: linear 2s infinite alternate fourth-star;
}

@keyframes first-star {
  0% {
    left: 63%;
  }
  100% {
    left: 93%;
  }
}
@keyframes second-star {
  0% {
    left: 59%;
  }
  100% {
    left: 29%;
  }
}
@keyframes third-star {
  0% {
    right: 63%;
  }
  100% {
    right: 93%;
  }
}
@keyframes fourth-star {
  0% {
    right: 59%;
  }
  100% {
    right: 29%;
  }
}

.b-star-color-line-3:hover {
  fill: white;
}
.b-first-star:hover {
  animation-play-state: paused;
}
.b-second-star:hover {
  animation-play-state: paused;
}
.b-third-star:hover {
  animation-play-state: paused;
}
.b-fourth-star:hover {
  animation-play-state: paused;
}

.b-go-to-main-page > svg {
  width: 2vw;
  height: 2vw;
}

/* страница запись весь контент в центре */

.b-notice {
  display: none;
  background-color: #eb8ef3;
  color: #721c24;
  padding: 10px;
  /* border: 1px solid #f5c6cb; */
  /* margin-top: 10px; */
  position: absolute;
  left: 50%;
  height: 66%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 25.5%;
}

.b-container {
  margin-bottom: 0.69vw;
}
.b-status-icon {
  margin-left: 0.69vw;
  font-weight: bold;
}
.b-valid {
  color: #eb8ef3;
}
.b-invalid {
  color: white;
}
#b-close-notice {
  background: white;
  border: 2px white solid;
  font-weight: bold;
  cursor: pointer;
  width: 3.89vw;
  height: 3.89vw;
  margin-left: 0.69vw;
  transition: background-color 0.3s ease;
}
.b-sign-up-header {
  font-family: "Bank Gothic(RUS BY LYAJKA)";
  font-size: 4vw;
  color: white;
}
.b-container > label {
  color: white;
}
#b-notice-text {
  font-family: "Bank Gothic(RUS BY LYAJKA)";
  font-size: 3vw;
  color: white;
}
.b-sign-up-header-box {
  display: flex;
  align-items: center;
  height: 26%;
  margin-left: 14vw;
}
#b-reset-button,
#b-submit-button {
  width: 3.89vw;
  height: 3.89vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
#b-reset-button {
  margin-right: 1.04vw;
  background-color: white;
  margin-right: 1.88vw;
  border: 2px solid white;
}
#b-submit-button {
  background-color: #eb8ef3;
}
.b-second-column-sign-up {
  margin-left: 14vw;
}
.b-sign-up-buttons {
  display: flex;
  margin-left: 35vw;
}
#b-sigh-up-content {
  background-image: url(../images/sctelkifon1440.svg);
  background-size: cover;
}
.b-column-sign-up {
  display: flex;
  height: 65%;
  align-items: center;
  margin-left: 14vw;
}
.b-first-column-sign-up,
.b-second-column-sign-up {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
label {
  font-family: "Bank Gothic(RUS BY LYAJKA)";
  font-size: 2vw;
}
#b-name-input,
#b-email-input {
  height: 3.82vw;
  width: 38.47vw;
  border: 2px white solid;
  border-radius: 4px;
  font-family: "Bank Gothic(RUS BY LYAJKA)";
  font-size: 1.6vw;
  color: #eb8ef3;
  margin-top: 1.74vw;
}
#b-date-input,
#b-time-input {
  height: 3.82vw;
  width: 9.72vw;
  border: 2px white solid;
  border-radius: 4px;
  display: flex;
  font-family: "Bank Gothic(RUS BY LYAJKA)";
  font-size: 1.2vw;
  color: #eb8ef3;
  justify-content: space-around;
  margin-top: 1.74vw;
  text-align: center;
}
#b-time-input {
  justify-content: center;
  align-items: center;
}

/* Скрытие иконок календаря и времени */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"],
input[type="time"],
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Отключение стрелок и других элементов управления */
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  border-color: #eb8ef3; /* Цвет бордера при фокусе */
  outline: none; /* Убираем стандартное обрамление фокуса */
}
button {
  border-radius: 4px;
}
.b-box-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#b-submit-button:hover {
  background-color: white;
}
#b-reset-button:hover {
  background-color: #eb8ef3;
}
#b-close-notice:hover {
  background-color: #eb8ef3;
}
