@import url(reset.css);
@import url(font.css);
@import url(layout.css);
@import url(animation.css);
@import url(adaptive.css);
/* вся белая секция */
.ms-white-half {
  background-color: white;
  height: 50vh;
  width: 100vw;
  padding: 25px 40px;
  box-sizing: border-box;
}

/* бокс внутри паддингов */
.box-in-white-half {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* верхний белый блок с линией и звездами */
.up-line-with-star {
  width: 100%;
  height: 16%;
  display: flex;
  position: relative;
}
/* левая линия со звездой */
.left-line {
  width: 2px;
  height: 82px;
  background-color: blue;
}
/* звезда на верхней левой линии */
.star-left-line {
  position: absolute;
  left: -20px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 0.7s infinite alternate star-left-line;
}

/* <div class="up-long-line">
              <div class="star-up-long-line"> */
.up-long-line {
  width: 100%;
  height: 2px;
  background-color: blue;
  /* position: relative; */
}
/* звезда на верхней длинной линии */
.star-up-long-line {
  position: absolute;
  top: -20px;
  left: -19px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 5s infinite alternate star-up-long-line;
}
/* правая линия */
.right-line {
  width: 2px;
  height: 82px;
  background-color: blue;
  position: relative;
}

.bottom-line-with-star {
  width: 100%;
  height: 16%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.left-line-bottom {
  width: 2px;
  height: 82px;
  background-color: blue;
}
.up-long-line-bottom {
  width: 100%;
  height: 2px;
  background-color: blue;
}
.right-line-bottom {
  width: 2px;
  height: 82px;
  background-color: blue;
}
/* СЕКЦИЯ СО ВСЕМ СОДЕРЖИМЫМ В БЕЛОМ  */
.all-information-box-white {
  height: 68%;
  width: 100%;
}

/* СИНЯЯ ПОЛОВИНА */
.ms-blue-half {
  background-color: blue;
  height: 50vh;
  width: 100vw;
  padding: 25px 40px;
  box-sizing: border-box;
}
/* бокс внутри паддингов */
.box-in-blue-half-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* верхний синий блок с линией и звездами */
.up-line-with-star-1 {
  width: 100%;
  height: 16%;
  display: flex;
  position: relative;
}
/* левая линия со звездой */
.left-line-1 {
  width: 2px;
  height: 82px;
  background-color: white;
}
/* звезда на верхней левой линии */
.star-left-line-1 {
  position: absolute;
  left: -20px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 0.7s infinite alternate star-left-line;
}

.up-long-line-1 {
  width: 100%;
  height: 2px;
  background-color: white;
  /* position: relative; */
}
/* звезда на верхней длинной линии */
.star-up-long-line-1 {
  position: absolute;
  top: -20px;
  left: -19px;
  width: 42px;
  height: 42px;
  background-image: url(../images/small-star.svg);
  animation: linear 5s infinite alternate star-up-long-line;
}
/* правая линия */
.right-line-1 {
  width: 2px;
  height: 82px;
  background-color: white;
  position: relative;
}
/* нижний синий блок с линиями */
.bottom-line-with-star-1 {
  width: 100%;
  height: 16%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
/* нижняя левая линия со звездой */
.left-line-bottom-1 {
  width: 2px;
  height: 82px;
  background-color: white;
}
/* нижняя верхняя длинная линия со звездой */
.up-long-line-bottom-1 {
  width: 100%;
  height: 2px;
  background-color: white;
}
/* нижняя правая линия */
.right-line-bottom-1 {
  width: 2px;
  height: 82px;
  background-color: white;
}

/* СЕКЦИЯ СО ВСЕМ СОДЕРЖИМЫМ В БЕЛОМ  */
.all-information-box-blue {
  height: 68%;
  width: 100%;
}
