body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61vw;
  background-color: blue;
}

.carousel-container {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100vw;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 38%;
}

.carousel-button {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 255, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  width: 133px;
  cursor: pointer;
  z-index: 1;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}
